


<form action='/place_bet' method='get'>
  <input type='submit' class="btn" value="Continue Playing"/>
</form>

<form action='/welcome' method='get'>
  <input type='submit' class="btn" value="New Game"/>
</form>