<!DOCTYPE html>
<html> 

  <body>
    <link type="text/css" rel="stylesheet" href="welcome_stylesheet.css"/>
    <h2>Welcome to Blackjack</h2>
    <h3>Please enter your name if you'd like to play Blackjack:</h3>
    
    <form action='/game_start' method='post'>
      <input type='text' name="player_name" placeholder="lorem ipsum"/>
      <input type='submit' class="btn" value="Submit"/>
    </form>
  
  </body>

</html>
